<?xml version="1.0" encoding="utf-8"?>
<configuration>     
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LxCallcenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LxCallcenter.Properties.Settings.LXCCConnectionString" connectionString="Data Source=192.169.143.34;Initial Catalog=MPYCC;User ID=MPY1115;Password=Mpy@110408" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <LxCallcenter.Properties.Settings>
            <setting name="Usuario" serializeAs="String">
                <value/>
            </setting>
            <setting name="Contrasenia" serializeAs="String">
                <value/>
            </setting>
        </LxCallcenter.Properties.Settings>
    </userSettings>
</configuration>
