<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogicaCC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <LogicaCC.Properties.Settings>
            <setting name="DbServer" serializeAs="String">
                <value>lexa.sytes.net\LXDB</value>
            </setting>
            <setting name="DbUser" serializeAs="String">
                <value>Lex@dm16</value>
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value>LX@020616</value>
            </setting>
            <setting name="DbMedic" serializeAs="String">
                <value>MPY</value>
            </setting>
            <setting name="DbMedicAlimentos" serializeAs="String">
                <value>MPYALIMENTOS</value>
            </setting>
            <setting name="DbMedicConta" serializeAs="String">
                <value>MPYCONTA</value>
            </setting>
            <setting name="DbMedicOpera" serializeAs="String">
                <value>MPYOPERA</value>
            </setting>
            <setting name="DbMedicCSJDB" serializeAs="String">
                <value>MPYCSJDB</value>
            </setting>
            <setting name="ProDbMedic" serializeAs="String">
                <value>PRO$MPY</value>
            </setting>
            <setting name="ProDbMedicAlimentos" serializeAs="String">
                <value>PRO$MPYALIMENTOS</value>
            </setting>
            <setting name="ProDbMedicConta" serializeAs="String">
                <value>PRO$MPYCONTA</value>
            </setting>
            <setting name="ProDbMedicOpera" serializeAs="String">
                <value>PRO$MPYOPERA</value>
            </setting>
            <setting name="ProDbMedicCSJDB" serializeAs="String">
                <value>PRO$MPYCSJDB</value>
            </setting>
            <setting name="MainFolder" serializeAs="String">
                <value>mpytstr</value>
            </setting>
            <setting name="ProMainFolder" serializeAs="String">
                <value>mpyprdctn</value>
            </setting>
            <setting name="DefaultConnection" serializeAs="String">
                <value>False</value>
            </setting>
        </LogicaCC.Properties.Settings>
    </userSettings>
</configuration>